@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    width: 100;
}
.Formacao {
    background-color:#333;
    color: white;
    text-align: center;
    margin: 0;
    padding: 25;


}